<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437945249947-at6jficg9cped1l2m7f6vj9rrdr1qe5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437945249947-at6jficg9cped1l2m7f6vj9rrdr1qe5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDlVtZkyIw2vR9HxQydj8howiK9eQqeQxo</string>
	<key>GCM_SENDER_ID</key>
	<string>437945249947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acm.SimpleMsg</string>
	<key>PROJECT_ID</key>
	<string>simplemsg-95bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>simplemsg-95bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437945249947:ios:d61fd16535a86351f7963e</string>
	<key>DATABASE_URL</key>
	<string>https://simplemsg-95bfc.firebaseio.com</string>
</dict>
</plist>