<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974210199722-5c69u56bisa42llmv16o001le4rnr1j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974210199722-5c69u56bisa42llmv16o001le4rnr1j0</string>
	<key>API_KEY</key>
	<string>AIzaSyBajpnEz1id4uNyJOY7hrZKjLz6cy-iqro</string>
	<key>GCM_SENDER_ID</key>
	<string>974210199722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acm.Database</string>
	<key>PROJECT_ID</key>
	<string>databasestuff-a6f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>databasestuff-a6f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974210199722:ios:825dd24797f952a9</string>
	<key>DATABASE_URL</key>
	<string>https://databasestuff-a6f2b.firebaseio.com</string>
</dict>
</plist>